networks:
  app_network:
    driver: bridge

volumes:
  pgdata:
  redis_data:
  alembic_migrations:

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - db
      - redis
    image: template:latest
    container_name: template
    env_file:
      - ./.env
    ports:
      - "8000:8000"
    volumes:
      - ./secrets:/develop/secrets:ro
      - alembic_migrations:/develop/alembic/versions
    networks:
      - app_network

  db:
    image: postgres:16
    container_name: postgres_db
    restart: always
    env_file:
      - ./.env
    expose:
      - 5432
    networks:
      - app_network
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: redis
    expose:
      - 6379
    volumes:
      - redis_data:/data
    command: ["redis-server", "--appendonly", "yes"]
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
    networks:
      - app_network
