APP_VERSION=0
APP_NAME="Template app"
SECRETE_KEY=

# DB SECRETS
# async
DB_URL=
DB_NAME=
DB_HOST=
DB_USERNAME=
DB_PASSWORD=

# Cache Layer
# This has to be redis
BROKER_URL="redis://localhost:6379/1"
BROKER_MAX_CONNECTIONS=5

# Redis
REDIS_HOST
REDIS_PORT
REDIS_DB

# POSTGRES EXTRA SETTINGS
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
